
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.lheight{
  height: 20px;
}
.headerspace{
  margin-top: 20px;
}
/* Login form */
.mynavbar-collapse .loginForm a{
 color: #fff;
}
.mynavbar-collapse .loginForm input{
  border: 1px solid #fff;
  color: #008dd4 !important;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  background-color: #ffffff;
  font-size: small;
}

.mynavbar-collapse .loginForm input:focus{
  border: 2px solid #fff;
  color: #008dd4 !important;
}

.mynavbar-collapse .loginForm button{
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-login {
  background-color: #ffffff;
  color: #008dd4 !important;
  font-weight: bold;
}

.mdperdu{
  font-size: small;
}


/* End Login Form */

.footer {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  background-color:  #008dd4;
  color: white;
  text-align: center;
  padding: 10px;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  max-height: 100%;
  line-height: normal;
  text-align: center;
  font-size: 0.9rem;
  background-color: #008dd4;
  color: white;
}
footer.page-footer .footer-copyright a{
  color: white;
}
footer.page-footer .container-fluid {
  width: auto;
  font-size: x-small;
}

footer.page-footer .footer-copyright ul  {
  list-style-type: none;
  width: auto;
  margin-top: 10px;
}

footer.page-footer .footer-copyright ul li  {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

footer.page-footer {
  margin-top: 0px;
}

.bg-tooshare {
  background-color: #008dd4 !important;
}

/* HEADER STYLE */

.navbar-nav{
  font-size: x-large;
}
.navbar-nav li{
  padding-left: 15px;
  padding-right: 15px;
}

.notifications-badge {
  background-color: red;
  position: absolute;
  top: 10px;
  right: 17px;
  border-radius: 0%;
  font-size: xx-small;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  color: #ffffff;
  font-weight: bold;
  max-width: 16px;
  width: 16px;
  text-align: center;
}

.cart-btn {
  position: relative;
  top:0px;
  right: 0px;
  overflow: visible!important;
}

.couleur{
  color: #070424;
}

.bg-tooshare {
  background-color: #008dd4 !important;
}


/* HEADER ++*/
.user-profile li{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.user-profile .user-avatar{
  font-size: 40px;
}
.user-profile .notification{
  font-size: 25px;
}
.user-profile  .nav-item .nav-link {
  padding: 0;
}

.logo{
  margin: 0px;
}

.hidden-md-down{
  display: none;
}
/* HEADER ++*/
/* HEADER STYLE */

/* POST TIMELINE STYLE */
.padd{
  padding:14px;
}
.list-inline{
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
}

.list-inline li{
  padding-right: 15px !important;
}

.list-inline li .fa{
  font-size: 25px;
  color: #008dd4 !important;
}

.navbar {
  padding: 0px !important;
}

.btnpartager{
  height: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff !important;
}
.mediatoshare{
  max-height: 100px;
  height: 100px;
  width: 100%;
}
/* AND PÖST TIMELINE STYLE */