
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hide{
   display: none;
}

.showme{
  display: block;
  
}
.userAvatarblock{
  input{
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  .medialabel{
    width: 70px;
    height: 70px;
    border: 0px solid gainsboro;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
  }
  
}
.barner{
  input{
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

.costumAvatarBlock{
 
  .costumUseravatar{
    width: 70px;
    height: 70px;
    border: 0px solid gainsboro;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
  }
  .costumUserpostavatar{
    width: 45px;
    height: 45px;
    border: 0px solid gainsboro;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
  }
  .costumUsercommenttavatar{
    width: 35px;
    height: 35px;
    border: 0px solid gainsboro;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
  }
  
}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.lheight{
  height: 20px;
}
.headerspace{
  margin-bottom: 80px;
}
/* Login form */
.mynavbar-collapse .loginForm a{
 color: #fff;
}
.mynavbar-collapse .loginForm input{
  border: 1px solid #fff;
  color: #008dd4 !important;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  background-color: #ffffff;
  font-size: small;
}

.mynavbar-collapse .loginForm input:focus{
  border: 2px solid #fff;
  color: #008dd4 !important;
}

.mynavbar-collapse .loginForm button{
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-login {
  background-color: #ffffff;
  color: #008dd4 !important;
  font-weight: bold;
}

.mdperdu{
  font-size: small;
}

.forminscription{
  margin-bottom: 230px;
}
/* End Login Form */

.footer {
  position: relative;
  left:0;
  bottom: 0;
  width: 100%;
  background-color:  #008dd4;
  color: white;
  text-align: center;
  padding-top: 4px;
  margin-top: 15px;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  max-height: 100%;
  line-height: normal;
  text-align: center;
  font-size: 0.9rem;
  background-color: #008dd4;
  color: white;
}
footer.page-footer .footer-copyright a{
  color: white;
}
footer.page-footer .container-fluid {
  width: auto;
  font-size: x-small;
}

footer.page-footer .footer-copyright ul  {
  list-style-type: none;
  width: auto;
  margin-top: 10px;
}

footer.page-footer .footer-copyright ul li  {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

footer.page-footer {
  margin-top: 0px;
}

.bg-tooshare {
  background-color: #008dd4 !important;
}

/* HEADER STYLE */

.navbar-nav{
  font-size: x-large;
}
.navbar-nav li{
  padding-left: 15px;
  padding-right: 15px;
}

.notifications-badge {
  background-color: red;
  position: absolute;
  top: 10px;
  right: 17px;
  border-radius: 0%;
  font-size: xx-small;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  color: #ffffff;
  font-weight: bold;
  max-width: 16px;
  width: 16px;
  text-align: center;
}

.cart-btn {
  position: relative;
  top:0px;
  right: 0px;
  overflow: visible!important;
}

.couleur{
  color: #070424;
}

.bg-tooshare {
  background-color: #008dd4 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}

/* HEADER ++*/
.user-profile li{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.user-profile .user-avatar{
  font-size: 40px;
}
.user-profile .notification{
  font-size: 25px;
}
.user-profile  .nav-item .nav-link {
  padding: 0;
}

.logo{
  margin: 0px;
}

.hidden-md-down{
  display: none;
}
/* HEADER ++*/
/* HEADER STYLE */

/* POST TIMELINE STYLE */
.padd{
  padding:14px;
}
.list-inline{
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
}

.list-inline li{
  padding-right: 15px !important;
}

.list-inline li .fa{
  font-size: 25px;
  color: #008dd4 !important;
}
.list-inline-post{
  display: inline-flex;
  list-style-type: none;
  padding-left: 20px;
}
.list-inline-post li{
  padding-right: 15px !important;
}
.list-inline-post .fa{
  font-size: 20px;
}
.coeur{
  color: #d40010 !important;
}
.card-foote{
  border-top: 1px solid #e4e8ea;
  padding-top: 5px;
}
.mynavbar {
  padding: 0px !important;
}

.btnpartager{
  height: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff !important;
}
.mediatoshare{
  max-height: 300px;
  height: 0px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  input{
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  .medialabel{
    width: 100%;
    height: 100%;
    border: 0px solid gainsboro;
    background-size: contain;
  }
  div{

  }
}
.show-media{
  opacity: 1;
  visibility: visible;
  height: 300px;
}

.post-formIn{
  box-shadow: 3px 3px 2px rgba(184, 184, 184, 0.51);
  z-index: 10;
  margin-bottom: 5px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.post-form{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.espace{
  margin-top: 4px;
}
.useravatar{
  border-radius: 100%;
  margin-right: 4px;
  float: left;
}
.useravatarrecherche{
  margin-right: 4px;
  float: left;
}
.usernameprofil{
  color: #a4a4a4;
  font-weight: normal !important;
  font-size: 12px !important;
}
.username{
  padding: 0px;
  margin: 0px;

}
.username span{
  padding: 0px;
  margin: 0px;
}
.userposthearder a{
  text-decoration: none;
  color: #004085;
  font-weight: bold;
  font-size: 14px !important;
}
.userposthearder{

  span{
    a div{
      width: 50%;
      float: left;
      line-height: 1.1;

      .publishdate{
        color: #797979;
        font-size: 10px !important;
      }
    }
  }
}
.postcontenu{
  padding-top: 4px !important;
}
.undecorate a{
  text-decoration: none;
}
.commentaire{
  padding-left: 20px;
}
.commentaire .form-control {
  display: inline-block;
  width: 80% !important;
}
.nopadding {
  padding: 1px !important;
}

.post-image {
  img{
    width: 100%;
  }
}

/* END POST TIMELINE */

/* SIDEBAR GAUCHE */
.usersidebar{
  height: 50px;
  border-bottom: 1px solid #e4e8ea;
  background-color: #c6c6c6 !important;
}
.bordertop{
  border-top: 1px solid #e4e8ea;
}
.list-block{
  list-style: none;
  padding-left: 20px;
}
.list-block li{
     padding-top: 8px;
     padding-bottom: 8px;

}

.usersidebarAvatar{
  position: relative;
  top: -30px;
  right: 32px;
}
@media (max-width: 360px)   {
.usersidebarAvatar {
  position: relative;
  top: -80px;
  left: 240px;
}
}

@media (max-width: 320px){
.usersidebarAvatar {
  position: relative;
  top: -80px;
  left: 210px;
}
}

@media (max-width: 411px){
.usersidebarAvatar {
  position: relative;
  top: -80px;
  left: 300px;
}
}

/* SIDEBAR GAUCHE */
/* AND PÖST TIMELINE STYLE */



/* CHAT CSS */

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

.containerchat {
  margin: 0 auto;
  width: auto;
  background: #e6e6e6;
  border-radius: 5px;
}

.people-list {
  width:280px;
  float: left;
  overflow-y: scroll;
  height: 100%;

  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 20px;
    height: 770px;
    list-style: none;
    li {
      padding-bottom: 20px;
    }
  }

   img {
    float: left;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 8px;
  }
  .status {
    color: $gray;
  }
}

.chat {
  width: 593px;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;

    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    ul{
      list-style: none;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.people-detail {
  width: 260px;
  float: right;
}

.userchatavatar{
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #e4e8ea;
}
.userfileshared{
  padding-bottom: 8px;
  padding-top: 15px;
  border-bottom: 1px solid #e4e8ea;

  ul{
    list-style: none;
    padding-left: 5px;

    li{
      padding: 5px;
      a{
        text-decoration: none;
      }
    }

  }
}
/* END CHAT CSS */

/* USER PROFIL CSS */
.user-profil{

  .barner{
    height: 350px;
    background-size: cover;

    .btn-changer{
      position: absolute;
      bottom: 2px;
      right: 5px;
      height: 35px;
      background-color: #ffffff;
      color: #000000;
      border-radius: 2px;
    }

  }
}

/* END USER PROFIL CSS */